# Database

#### **Athlete Biography**

| Column | Type (value) | Pre-process |
| :-: | :-: | :-- |
| athlete_id      | int                ||
| name            | str                ||
| sex             | str (Male/Female)  ||
| born            | str (date)         | Standarize format (datetime, default 01/01/YYYY) |
| height          | int (cm)           ||
| weight          | int (kg)           ||
| country         | str (country_name) ||
| country_noc     | str (country_noc)  ||
| description     | str (info)         ||
| spetial_notes   | str (info)         ||

#### **Athlete Event Details**

| Column | Type (value) | Pre-process |
| :-: | :-: | :-- |
| edition     | str (year + event)      ||
| edition_id  | int                     ||
| country_noc | str (of the athlete)    ||
| sport       | str (of the athlete)    ||
| event       | str (within the sport)  ||
| result_id   | int (results)           ||
| athlete     | str (name)              ||

#### **Country Profiles**

| Column | Type (value) | Pre-process |
| :-: | :-: | :-- |
| noc       | str (3-letter word)   ||
| country   | str (name)            | Remove ROC |

#### **Event Results**

| Column | Type (value) | Pre-process |
| :-: | :-: | :-- |
| result_id             | int                               ||
| event_title           | str (title, sex)                  ||
| edition               | str (year + event)                ||
| edition_id            | int                               ||
| sport                 | str (of the event)                ||
| sport_url             | web (/editions/DD/sports/SSS)     ||
| result_date           | str (date + time)                 | Standarize format (datetime) |
| result_location       | str (loc info)                    | Standarize format (city, country) |
| result_participants   | str (number of people)            ||
| result_format         | str (description on how to win)   ||

#### **Games Summary**

| Column | Type (value) | Pre-process |
| :-: | :-: | :-- |
| edition           | str (year + event)    ||
| edition_id        | int                   ||
| edition_url       | web (/editiond/DD)    ||
| year              | int                   ||
| city              | str (name)            ||
| country_flag_url  | url (https://...)     ||
| country_noc       | str (3-letter word)   ||
| start date        | str (datetime)        | Standarize format (datetime)
| end_date          | str (datetime)        | Standarize format (datetime)
| competition_date  | str (datetimes)       | Standarize format (datetime)

#### **Medal Tally History**

| Column | Type (value) | Pre-process |
| :-: | :-: | :-- |
| edition           | str (year + event)    ||
| edition_id        | int                   ||
| year              | int                   ||
| country           | str (name)            ||
| country_noc       | str (3-letter word)   ||
| gold              | int                   ||
| silver            | int                   ||
| bronze            | int                   ||
| total             | int (sum of previous) ||

# Code

## New Code - Pre-process data to be loaded in MongoDB

### 0. Imports

In [15]:
from IPython.display import clear_output
import pandas   as pd
import numpy    as np
from datetime import datetime, date

import country_converter as coco
cc = coco.CountryConverter()

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from pymongo.collection import Collection

# Create a new client and connect to the server
uri = "mongodb+srv://olympic:gold@olympiccluster.yxmi4.mongodb.net/"
client = MongoClient(uri, server_api=ServerApi('1'))
db = client["olympic_db"]
athletes: Collection = db["athletes"]
medal_tally: Collection = db["medal_tally"]

### 1. Load Raw Data

In [3]:
df_athlete_biography       = pd.read_csv('./raw_data/Olympic_Athlete_Biography.csv')
df_athlete_event_details   = pd.read_csv('./raw_data/Olympic_Athlete_Event_details.csv')
df_country_profiles        = pd.read_csv('./raw_data/Olympic_Country_Profiles.csv')
df_event_results           = pd.read_csv('./raw_data/Olympic_Event_Results.csv')
df_games_summary           = pd.read_csv('./raw_data/Olympic_Games_Summary.csv')
df_medal_tally             = pd.read_csv('./raw_data/Olympic_Medal_Tally_History.csv')

### 2. Process Data (just define functions)

- `fix_date(str) -> 'YYYY-MM-DD' or NaN`: This Function recieves a text and tryes to find a date. If the day or month are missing, the default value is 1. If the year is missing, a np.nan value is returned.

In [27]:
# Adjust All Dates to a datetime format (YYYY-MM-DD)

def fix_date(txt):
    txt = str(txt)   # In case txt = 1920 (numeric)
    numbers = '0123456789'
    months  = ['january', 'february', 'march', 'april', 'may', 'june',
            'july', 'august', 'september', 'october', 'november', 'december']
    text    = list(txt)

    day = None
    month = None
    year = None

    # Find day and year
    prev_carac = ' '
    for i, carac in enumerate(text):
        if carac in numbers and prev_carac not in numbers: # Check for starting number
            try:
                if text[i+1] in numbers:                # 12...
                    if text[i+2] not in numbers:        # 12 ...
                        day = int(''.join(text[i:i+2]))
                    elif text[i+3] in numbers:          # 1234...
                        year = int(''.join(text[i:i+4]))     # Keeps last year: "(1920 or 1921)" -> 1921
                else:                                   # 1 ...
                    day = int(carac)
            except:
                continue
        prev_carac = carac
    # Simple check for month
    for word in txt.split(' '):
        if word.lower() in months:
            month = months.index(word.lower())+1
    
    # Without year, there is no way of telling
    if year is None:
        return np.nan
    
    # Update incompleted dates:
    if day is None:
        day = 1
    if month is None:
        month = 1
    
    # Return representative values
    return date(year, month, day).isoformat()

# Handle born dates for athlete age
def handle_born():
    print("Handling the data from df_athlete_biography/born", end= "... ")
    df_athlete_biography['born'] = df_athlete_biography['born'].apply(fix_date)
    print("Done")

# Create Countries database (useless)
def update_medal_tally(reset= True, clean= True):
    no_errors = True
    if reset:
        try:
            # Clear existing data
            result = medal_tally.delete_many({})
            print(f"Documents deleted from medal_tally MongoDB: {result.deleted_count}")
        except Exception as e:
                print(f"An error occurred: {e}")
                no_errors = False
                
    ix1, ix2 = 3, 5
    new_columns = ['sport', 'country_iso2']
    columns = (
        df_medal_tally.columns[:ix1].tolist() +
        [new_columns[0]] +
        df_medal_tally.columns[ix1:ix2].tolist() +
        [new_columns[1]] +
        df_medal_tally.columns[ix2:].tolist()
    )

    df_medal_tally['country'] = df_medal_tally['country'].replace('ROC','Russian Olympic Committee')   # Fix this NOC error
    
    db_new = []                             # Database to be uploaded in MongoDB
    df_new = pd.DataFrame(columns= columns) # DataFrame to be used in this code only
    noc_to_iso2 = {}                        # Cache for faster search of iso2 codes
    for _, row in df_medal_tally.iterrows():
        # According to the Kaggle Database, all data from the Olympic Medal Tally History 
        # is in the correct format and there is no missing data.
        
        # Retrieve ISO2 value of the country
        try:
            row['country_iso2'] = noc_to_iso2[row['country_noc']]
        except KeyError:
            row['country_iso2'] = cc.convert(row['country'], to= 'iso2')
            # Review the value
            if row['country_iso2'] == 'not found':
                row['country_iso2'] = cc.convert(row['country_noc'], to= 'iso2')
                if row['country_iso2'] == 'not found':
                    row['country_iso2'] = np.nan
            # Add to Cache
            noc_to_iso2[row['country_noc']] = row['country_iso2']
        
        # Search for medal tally in each sport using the data in Athlete_Event_Details:
        df_country_medal_tally = df_athlete_event_details[(df_athlete_event_details['edition_id'] == row['edition_id']) & \
                                                        (df_athlete_event_details['country_noc'] == row['country_noc'])]
        medal_tally_per_sport = df_country_medal_tally.groupby(['sport', 'medal']).size().reset_index(name= 'count')
        # Pivot to get all values from one sport to a single row
        medal_tally_per_sport = medal_tally_per_sport.pivot(index= 'sport', columns= 'medal', values= 'count').fillna(0)  # fill with 0 to avoid missing data
        medal_tally_per_sport = medal_tally_per_sport.astype(int)
        
        # Add rows to new data frame
        for _, sport_row in medal_tally_per_sport.iterrows():
            # Sometimes one of the medals is not in the event
            try:
                gold_count   = sport_row['Gold']
            except KeyError:
                gold_count   = 0
            try:
                silver_count   = sport_row['Silver']
            except KeyError:
                silver_count   = 0
            try:
                bronze_count   = sport_row['Bronze']
            except KeyError:
                bronze_count   = 0
            
            # Add new row to the list that will be loaded to the database
            document = {
                "edition":      row["edition"],     
                "edition_id":   row["edition_id"],  
                "year":         row["year"],        
                "sport":        sport_row.name,     
                "country":      row["country"],     
                "country_noc":  row["country_noc"], 
                "country_iso2": row["country_iso2"],
                "gold":         gold_count,         
                "silver":       silver_count,       
                "bronze":       bronze_count,       
                "total":        sport_row.sum()     
            }
            try:
                # If the document was reseted, is faster to upload the database only once at the end
                if reset:
                    db_new.append(document)
                else:
                    existing_document = medal_tally.find_one({"edition_id": row["edition_id"],
                                                            "sport": sport_row.name,
                                                            "country_noc": row["country_noc"]})  # This combination should be unique
                    if not existing_document:
                        # Only add data if it doesn't exist
                        result = medal_tally.insert_one(document)
                        print(f"Inserted document with ID: {result.inserted_id}")
            except Exception as e:
                print(f"An error occurred: {e}")
                no_errors = False

            # Add new row at the end of DataFrame
            df_new.loc[len(df_new)] = [
                row["edition"],     
                row["edition_id"],  
                row["year"],        
                sport_row.name,     
                row["country"],     
                row["country_noc"], 
                row["country_iso2"],
                gold_count,         
                silver_count,       
                bronze_count,       
                sport_row.sum()     
            ]
    if clean:
        clear_output()
    if reset:
        try:
            medal_tally.insert_many(db_new)
        except Exception as e:
            print(f"An error occurred: {e}")
            no_errors = False
    if no_errors:
        print("Updated Medal Tally History with sports correctly uploaded to MongoDB")
    else:
        print("Due to the errors encountered, the database was not uploaded to MongoDB")
    nan_iso2 = [noc for noc, iso2 in noc_to_iso2.items() if isinstance(iso2, float) and np.isnan(iso2)]
    print(f"Countries without ISO2 value:", ', '.join(nan_iso2))
    
    return df_new

### 3. Process data and Tests

- ONLY THE DATA THAT WILL BE USED
- Country DF is created as df_country
- Data with dates:
    - `Athlete_Biography/born`

In [28]:
test = False

# handle_born()
df_medal_tally_updated = update_medal_tally(clean= False)
print("\nSample of the Medal Tally uploaded to the Database")
print("-"*50)
print(df_medal_tally_updated.head())

### Tests ###
if test:
    def user_entry(msg, opt= None):
        # opt = list of possible options to be inputed
        user = input(msg)
        if opt is None:
            return user
        elif user in opt:
            return user
        return user_entry(msg, opt)

    print("Testing the data from Athlete_Biography/born...")
    date_values = 0
    nan_values  = 0
    errors      = []
    for d in df_athlete_biography['born']:
        try:
            datetime.strptime(d, "%Y-%m-%d")
            date_values += 1
        except (ValueError, TypeError):
            if d is np.nan:
                nan_values += 1
            else:
                errors.append(d)
    print(f"> {date_values} dates in the correct format")
    print(f"> {nan_values} dates were not found (NaN)")
    print(f"> {len(errors)} errors were encountered")
    if len(errors) > 0:
        user = user_entry(msg= "Show errors [y]: ")
        if user == "y":
            for error in errors:
                print(f"    > {error}")
    print()

An error occurred: SSL handshake failed: olympiccluster-shard-00-01.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),SSL handshake failed: olympiccluster-shard-00-00.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),SSL handshake failed: olympiccluster-shard-00-02.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 673e97e09ec01813499d6e7d, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('olympiccluster-shard-00-00.yxmi4.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: olympiccluster-shard-00-00.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('olympiccluster-shard-00-01.yxmi4.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: olympiccluster-shard-00-01.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('olympiccluster-shard-00-02.yxmi4.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: olympiccluster-shard-00-02.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

Mixed team not found in regex
MIX not found in ISO3
Australasia not found in regex
ANZ not found in ISO3
Yugoslavia not found in regex
YUG not found in ISO3
Soviet Union not found in regex
URS not found in ISO3
United Arab Republic not found in regex
UAR not found in ISO3
West Indies Federation not found in regex
WIF not found in ISO3
East Germany not found in regex
GDR not found in ISO3
West Germany not found in regex
FRG not found in ISO3
Netherlands Antilles not found in regex
AHO not found in ISO3
Unified Team not found in regex
EUN not found in ISO3
Independent Olympic Athletes not found in regex
IOA not found in ISO3
Serbia and Montenegro not found in regex
SCG not found in ISO3

An error occurred: SSL handshake failed: olympiccluster-shard-00-01.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),SSL handshake failed: olympiccluster-shard-00-00.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),SSL handshake failed: olympiccluster-shard-00-02.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 673e97e09ec01813499d6e7d, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('olympiccluster-shard-00-00.yxmi4.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: olympiccluster-shard-00-00.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('olympiccluster-shard-00-01.yxmi4.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: olympiccluster-shard-00-01.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('olympiccluster-shard-00-02.yxmi4.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: olympiccluster-shard-00-02.yxmi4.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1007) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>
Due to the errors encountered, the database was not uploaded to MongoDB
Countries without ISO2 value: MIX, ANZ, YUG, URS, UAR, WIF, GDR, FRG, AHO, EUN, IOA, SCG

Sample of the Medal Tally uploaded to the Database
--------------------------------------------------
                edition  edition_id  year                sport        country  \
0  1896 Summer Olympics           1  1896            Athletics  United States
1  1896 Summer Olympics           1  1896             Shooting  United States
2  1896 Summer Olympics           1  1896  Artistic Gymnastics         Greece
3  1896 Summer Olympics           1  1896            Athletics         Greece
4  1896 Summer Olympics           1  1896         Cycling Road         Greece

  country_noc country_iso2  gold  silver  bronze  total
0         USA           US     9       6       2     17
1         USA           US     2       1       0      3
2         GRE           GR     2       4       4     10
3         GRE           GR     1       3       6     10
4         GRE           GR     1       0       0      1

### 4. Update Database

## Old Code

In [ ]:
# Imports

import pandas as pd
import numpy as np
from datetime import date
import country_converter as coco

cc = coco.CountryConverter()

In [ ]:
# Reading in Data

class OlympicDatabase():
    def __init__(self):
        try:
            self.df_athlete_biography       = pd.read_csv('./raw_data/Olympic_Athlete_Biography.csv')
            self.df_athlete_event_details   = pd.read_csv('./raw_data/Olympic_Athlete_Event_details.csv')
            self.df_country_profiles        = pd.read_csv('./raw_data/Olympic_Country_Profiles.csv')
            self.df_event_results           = pd.read_csv('./raw_data/Olympic_Event_Results.csv')
            self.df_games_summary           = pd.read_csv('./raw_data/Olympic_Games_Summary.csv')
            self.df_medal_tally             = pd.read_csv('./raw_data/Olympic_Medal_Tally_History.csv')
        except FileNotFoundError as error:
            print('File Not Found: ' + error.filename)
        else:
            self.df_dict = {"athlete_biography":     self.df_athlete_biography,
                            "athlete_event_details": self.df_athlete_event_details,
                            "country_profiles":      self.df_country_profiles,
                            "event_results":         self.df_event_results,
                            "games_summary":         self.df_games_summary,
                            "medal_tally":           self.df_medal_tally}
            self._preprocess()
    
    def _preprocess(self):
        # Preprocess born data from string to datetime ->  YYYY-MM-DD
        self.df_athlete_biography['born'] = self.df_athlete_biography['born'].apply(self.__find_date)

    def __find_date(self, txt):
        txt = str(txt)   # In case txt = 1920 (numeric)
        numbers = '0123456789'
        months  = ['january', 'february', 'march', 'april', 'may', 'june',
                'july', 'august', 'september', 'october', 'november', 'december']
        text    = list(txt)

        day = None
        month = None
        year = None

        # Find day and year
        prev_carac = ' '
        for i, carac in enumerate(text):
            if carac in numbers and prev_carac not in numbers: # Check for starting number
                try:
                    if text[i+1] in numbers:                # 12...
                        if text[i+2] not in numbers:        # 12 ...
                            day = int(''.join(text[i:i+2]))
                        elif text[i+3] in numbers:          # 1234...
                            year = int(''.join(text[i:i+4]))     # Keeps last year: "(1920 or 1921)" -> 1921
                    else:                                   # 1 ...
                        day = int(carac)
                except:
                    continue
            prev_carac = carac
        # Simple check for month
        for word in txt.split(' '):
            if word.lower() in months:
                month = months.index(word.lower())+1
        
        # Without year, there is no way of telling
        if year is None:
            return np.nan
        
        # Update incompleted dates:
        if day is None:
            day = 1
        if month is None:
            month = 1
        
        # Return representative values
        return date(year, month, day).isoformat()

    def process(self, df_name, col_name, **handler):
        df_name = df_name.lower().replace(" ","_")  # "Medal Tally -> medal_tally"
        data_name = None
        for name in self.df_dict.keys():
            if df_name in name:
                try:
                    data_name = name
                except KeyError:
                    print("Error: Column not found in given database")
                    return
        if data_name is None:
            print("Error: Databse not found")
            return
        for key, value in handler.items():
            if key == "replace_all":
                print("Replacing All NaN values to", value)
                self.df_dict[data_name][col_name] = self.df_dict[data_name][col_name].fillna(value)
        # Changes the internal dataframe

data = OlympicDatabase()

In [4]:
def world_map_data(**kwargs):
    # in:      None. ¿Sport and Event selection?
    # out:     list(tuple(id, number of total medals))
    # default: All history

    # default algorithm (no filters, all history)
    data.process(df_name= "medal_tally", col_name= "total", replace_all= 0)
    grouped    = data.df_medal_tally.groupby("country")["total"].sum()  # Sum of all medals for each country
    iso2_codes = cc.convert(names= grouped.keys(), to= "ISO2")
    # Not found is not considered for World Map
    return list(zip(iso2_codes, map(int, grouped.values)))

print(world_map_data())


    
    
    

def list_of_sports(country_noc):
    # in:      str(Country_noc) | any identifyer of the country, to be defined
    # out:     list(Sports)     | Sports that the country have competed in
    # default: all sports
    pass

def ditr_corr(x, sport, *years):
    # in:      x, sport, year(s)
    # out:     age, weight, height
    # default: None
    pass

def get_age(athlete_id):
    pass

Australasia not found in regex
East Germany not found in regex
Independent Olympic Athletes not found in regex
Mixed team not found in regex
Netherlands Antilles not found in regex
ROC not found in ISO3
Serbia and Montenegro not found in regex
Soviet Union not found in regex
Unified Team not found in regex
United Arab Republic not found in regex
West Germany not found in regex
West Indies Federation not found in regex
Yugoslavia not found in regex

Replacing All NaN values to 0
[('AF', 2), ('DZ', 17), ('AR', 77), ('AM', 18), ('not found', 12), ('AU', 563), ('AT', 361), ('AZ', 49), ('BH', 4), ('BB', 1), ('BY', 105), ('BE', 181), ('BM', 2), ('CZ', 6), ('BW', 2), ('BR', 150), ('BG', 230), ('BF', 1), ('BI', 2), ('CM', 6), ('CA', 553), ('CL', 13), ('TW', 36), ('CO', 34), ('CR', 4), ('HR', 52), ('CU', 235), ('CY', 1), ('CZ', 101), ('CZ', 171), ('CI', 4), ('KP', 57), ('DK', 221), ('DJ', 1), ('DO', 12), ('not found', 519), ('EC', 5), ('EG', 36), ('ER', 1), ('EE', 44), ('ET', 58), ('FJ', 3), ('FI', 489), ('FR', 951), ('GA', 1), ('GE', 40), ('DE', 1098), ('GH', 5), ('GB', 988), ('GR', 157), ('GD', 3), ('GT', 1), ('GY', 1), ('HT', 2), ('HK', 9), ('HU', 535), ('IS', 4), ('not found', 5), ('IN', 35), ('ID', 37), ('IQ', 1), ('IE', 38), ('IR', 76), ('IL', 13), ('IT', 789), ('JM', 88), ('JP', 575), ('JO', 3), ('KZ', 79), ('KE', 113), ('SA', 4), ('XK', 3), ('KW', 3), ('KG', 7), ('LV', 31), ('LB', 4), ('LI', 10), ('LT', 26), ('LU', 7), ('MY', 13), ('MU', 1), ('MX', 72), ('not found', 10), ('MC', 1), ('MN', 30), ('ME', 1), ('MA', 24), ('MZ', 2), ('NA', 5), ('NL', 479), ('not found', 1), ('NZ', 143), ('NE', 2), ('NG', 27), ('MK', 2), ('NO', 569), ('PK', 10), ('PA', 3), ('PY', 1), ('CN', 713), ('PE', 4), ('PH', 14), ('PL', 329), ('PT', 28), ('PR', 10), ('QA', 8), ('not found', 120), ('KR', 366), ('MD', 6), ('RO', 309), ('RU', 551), ('WS', 1), ('SM', 3), ('SN', 1), ('RS', 24), ('not found', 9), ('SG', 5), ('SK', 42), ('SI', 52), ('ZA', 91), ('not found', 1204), ('ES', 174), ('LK', 2), ('SD', 1), ('SR', 2), ('SE', 697), ('CH', 389), ('SY', 4), ('TJ', 4), ('TH', 35), ('BS', 16), ('TG', 1), ('TO', 1), ('TT', 19), ('TN', 15), ('TM', 1), ('TR', 103), ('UG', 11), ('UA', 148), ('not found', 135), ('AE', 2), ('not found', 2), ('TZ', 2), ('US', 3009), ('VI', 1), ('UY', 10), ('UZ', 37), ('VE', 19), ('VN', 5), ('not found', 243), ('not found', 2), ('not found', 87), ('ZM', 2), ('ZW', 8)]

In [5]:
print(data.df_athlete_event_details.shape)

df_filtered = data.df_athlete_event_details[data.df_athlete_event_details["medal"].notna()]

print(df_filtered[df_filtered["medal"] == "Bronze"].shape)
print(df_filtered[df_filtered["medal"] == "Silver"].shape)
print(df_filtered[df_filtered["medal"] == "Gold"].shape)

# Some rows dont match but we dont really care we are gonna rely on medals
display(df_filtered[df_filtered["pos"] == "3"][df_filtered["medal"] != "Bronze"])
display(df_filtered[df_filtered["pos"] == "2"][df_filtered["medal"] != "Silver"])
display(df_filtered[df_filtered["pos"] == "1"][df_filtered["medal"] != "Gold"])

(316834, 11)
(14939, 11)
(14676, 11)
(15072, 11)

C:\Users\pio\AppData\Local\Temp\ipykernel_32916\447431652.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(df_filtered[df_filtered["pos"] == "3"][df_filtered["medal"] != "Bronze"])

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
284348,1912 Summer Olympics,6,SWE,Athletics,"Decathlon, Men",56970,Charles Lomberg,76283,3,Silver,False
296935,1912 Summer Olympics,6,USA,Athletics,"Pentathlon, Men",57014,Jim Donahue,78331,3,Silver,False

C:\Users\pio\AppData\Local\Temp\ipykernel_32916\447431652.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(df_filtered[df_filtered["pos"] == "2"][df_filtered["medal"] != "Silver"])

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
31133,2016 Summer Olympics,59,EGY,Weightlifting,"Middleweight, Men",354317,Mohamed Ihab,133608,2,Bronze,False
62650,2014 Winter Olympics,58,AUT,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Christoph Sumann,101195,2,Bronze,True
62651,2014 Winter Olympics,58,AUT,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Daniel Mesotitsch,101212,2,Bronze,True
62652,2014 Winter Olympics,58,AUT,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Simon Eder,118582,2,Bronze,True
62653,2014 Winter Olympics,58,AUT,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Dominik Landertinger,118518,2,Bronze,True
68358,2012 Summer Olympics,54,KAZ,Weightlifting,"Light-Heavyweight, Women",331063,Anna Nurmukhambetova,126715,2,Bronze,False

C:\Users\pio\AppData\Local\Temp\ipykernel_32916\447431652.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(df_filtered[df_filtered["pos"] == "1"][df_filtered["medal"] != "Gold"])

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
74641,2000 Summer Olympics,25,GRE,Athletics,"100 metres, Women",65683,Aikaterini Thanou,70693,1,Silver,False
144927,2014 Winter Olympics,58,GER,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Erik Lesser,127808,1,Silver,True
144928,2014 Winter Olympics,58,GER,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Daniel Böhm,127807,1,Silver,True
144929,2014 Winter Olympics,58,GER,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Arnd Peiffer,118509,1,Silver,True
144930,2014 Winter Olympics,58,GER,Biathlon,"4 × 7.5 kilometres Relay, Men",350026,Simon Schempp,118583,1,Silver,True
192783,2016 Summer Olympics,59,CHN,Weightlifting,"Middleweight, Men",354317,Lu Xiaojun,121984,1,Silver,False